:root {
  font-family: sans-serif;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
body {
  background-color: #eee;
  color: #000;
  cursor: default;
}
.content-editable {
  color: #000;
  background-color: #fff;
  font-family: Consolas, 'Courier New', Courier, Menlo, Monaco, monospace;
  overflow: auto;
  white-space: pre-wrap;
  cursor: text;
  padding: 2px;
  border: 1px solid #666;
  border-radius: 2px;
  min-height: 1em;
}
.input-area {
  height: 400px;
}
.highlight {
  background-color: yellow;
}
.error {
  color: #f00;
}
.times {
  font-size: small;
  color: #933;
}
