[submodule "TComponent"]
	path = TComponent
	url = https://github.com/haiix/TComponent.git
[submodule "editor"]
	path = editor
	url = https://github.com/haiix/editor.git
[submodule "idb"]
	path = idb
	url = https://github.com/haiix/idb.git
